@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"),
       url("/fonts/roboto.woff2") format("woff2"),
       url("/fonts/roboto.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: bold;
  font-weight: 700;
  src: local("Robotobold"),
       url("/fonts/robotobold.woff2") format("woff2"),
       url("/fonts/robotobold.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: medium;
  font-weight: 500;
  src: local("Robotomedium"),
       url("/fonts/robotomedium.woff2") format("woff2"),
       url("/fonts/robotomedium.woff") format("woff");
}

/* Variables */
:root {
    --basic-black: #000000;
    --basic-salmon: #FB565A;
    --hover-red: #E74246;
    --active-red:  #D7373B;
    --basic-white: #FFFFFF;
    --basic-green: #00CA74;
    --hover-green: #00BC6C;
    --active-green: #00AA62;
    --basic-yellow: #EFC849;
    --hover-yellow: #EAB534;
    --active-yellow: #E5A722;
    --basic-grey: #A6A6A6;
    --background-grey: #EEEEEE;
    --border-pagination-grey: #DBDBDB;
    --border-button-grey:  #C1C1C1;

    --special-black: #283136;
    --footer-contacts: #666666;
    --footer-promo: #444444;
    --hover-grey: #DFDFDF;
    --social-button-grey: #E1E1E1;
    --scale-grey: #D7DCDF;
    --filter-input-grey: #4D4D4D;
}

.page {
height: 100%;
}

body {
font-family: 'Roboto','Arial', sans-serif;
font-style: normal;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
}

.button {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  width: 160px;
  height: 50px;;
  color: var(--basic-white);
  background-color: var(--basic-salmon);
  border-radius: 3px;
  border: none;
  cursor: pointer;
}

.button-app {
  background-color: var(--basic-green);
}

.button-presentation {
  background-color: var(--basic-yellow);
}

/*Global*/

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;

}
.page-header {
  display: none;
}

/*Header*/

.header-wrapper {
  background-color: var(--background-grey);
}

.header-center {
  width: 980px;
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo:hover,
.header-logo:focus {
  opacity: 0.7;
}

.header-logo:active {
  opacity: 0.3;
}

.navigation {
  font-size: 16px;
  line-height: 30px;
  color: var(--basic-black);
}

.header-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.header-list a,
.user-navigation a {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  color: var(--basic-black);
  display: block;
  padding: 25px 20px;
}

.navigation a:hover,
.navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
  color: var(--basic-salmon);
}

.navigation a:active,
.user-navigation a:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.user-navigation {
  max-width: 100px;
}

.user-navigation .cart {
  padding-left: 50px;
  position: relative;
}


.cart::before {
  position: absolute;
  top: 32px;
  right: 70px;
  content: "";
  width: 15px;
  height: 15px;
  background-image: url(../img/cart-icon.png);
  background-repeat: no-repeat;
  background-position: 0 0;
}

/*Description*/

.description-wrapper {
  background: url(../img/nerds-ind-slider.png) top right no-repeat var(--background-grey);
  min-height: 190px;
  padding-bottom: 80px;
  margin-bottom: 80px;
  } /*Нес понимаю, если я передвигаю слайдер-карент на 2 слайд, у меня изображение не растягивается
  по враперу, а остается таким как у него размеры заданы*/

.description {
  width: 960px;
  margin: 0 auto;
  padding: 0;
  display: flex;
}

.description-list {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.description-large {
  font-size: 55px;
  line-height: 55px;
  color: var(--basic-black);
  margin-bottom: 25px;
}
.description-small {
  font-size: 16px;
  line-height: 24px;
  color: var(--special-black);
  margin-bottom: 38px;
}

.description-button {
  display: inline-block;
  padding: 15px 54px;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-white);
  background-color: var(--basic-salmon);
  border-radius: 3px;
  border: none;
  cursor: pointer;
}

.description-button:hover,
.description-button:focus {
background-color: var(--hover-red);
}

.description-button:active {
background-color: var(--active-red);
box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
color: rgba(255,255,255,0.3);
}

.slider-controls {
display: flex;
align-items: flex-end;
}

.slider-controls button {
  margin: 17px;
  width: 18px;
  height: 18px;
  background-color: var(--basic-white);
  border: 2px solid #ffffff;
  border-radius: 50%;
}

.slider-controls .current {
  border: 2px solid var(--border-button-grey);
} /*Не знаю как тут отрисовать все кружочки, как только начинаю вводить позиционирование или паддинги
все нахрен ломается*/

.slide {
display: none;
}

.slide-current {
  display: block;
}
/*А это я пытаюсь на белом кружке нарисовать белый кружок с серой границей, чтобы типа выделенный
кружок, как у активного инпута. Но как ты понимаешь, ничего не вышло))
.slider-controls .current {
  width: 8px;
  height: 8px;
  background-color: var(--basic-white);
  border: 2px solid var(--basic-grey);
}
}*/

/*Features*/

.index-column {
  width:960px;
  margin: 0 auto;
}

.features-column {
  background: url(../img/index-line.png) bottom center no-repeat;
  padding-bottom: 80px;
  margin-bottom: 73px;
}

.features-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.features-item {
  flex-basis: 300px;
}

.app {
  padding-right: 100px;
  padding-left: 100px;
}

.features-item h2 {
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
}

.features-item p {
  font-size: 16px;
  line-height: 24px;
}

.button-website:focus,
.button-website:hover {
  background-color: var(--hover-red);
}

.button-website:active {
  background-color: var(--active-red);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  color: rgba(255,255,255,0.3);
}

.button-app:focus,
.button-app:hover {
background-color: var(--hover-green);
}

.button-app:active {
  background-color: var(--active-green);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  color: rgba(255,255,255,0.3);
}

.button-presentation:focus,
.button-presentation:hover {
  background-color: var(--hover-yellow);
}

.button-presentation:active {
  background-color: var(--active-yellow);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  color: rgba(255,255,255,0.3);
}

/*Work*/

/*И на этом --всё, что я имею сказать этой части разметки, потому что я НЕ ПОНИМАЮ  ПОЧЕМУ я соблюла все
отступы по макету и тд и тп и у меня не выходит 100% совпадание и уровень текстов разнится)))
я психом стану с этими выравнимваниями)))*/

.work-columns {
  display: flex;
  margin-bottom: 73px;
}

.work {
  font-size: 16px;
  line-height: 24px;
  color: var(--special-black);
}

.work-large {
  font-size: 45px;
  line-height: 45px;
  color: var(--basic-black);
}

.work h3 {
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 32px;
}

.work-small {
  margin-bottom: 40px;
}

.work h3 {
  margin-bottom: 23px;
}

.workstyle {
  justify-content: flex-end;
  /*min-height: 356px; Задать минимальную высоту равную высоте соседнего флекса не дало
  видимый результат*/
}

.workstyle-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.workstyle-image {
  background-color: var(--background-grey);
  margin-bottom: 37px;
}

.workstyle-paragraph {
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
  margin-bottom: 31px;
}

.percent-list {
  list-style: none;
  display: flex;
  justify-content: center;
}

.percent-item {
 flex-basis: 100px;
 margin-right: 22px;
}

.workstyle p {
  font-weight: bold;
  text-transform: uppercase;
  color: var(--basic-black);
}

.workstyle-numbers {
  list-style: none;
  font-size: 45px;
  line-height: 64px;
  font-weight: bold;
  color: var(--basic-black);
  margin: 0;
  padding: 0;
}

.workstyle-description {
  list-style: none;
  font-size: 16px;
  line-height: 18px;
  color: var(--special-black);
  margin: 0;
  padding: 0;
}


/*Partners*/

.partners-list {
  background:
   url(../img/index-line.png) repeat-x top center,
   url(../img/index-line.png) repeat-x bottom center;
  padding: 66px 0;
  list-style: none;
  text-align: center;
  width:960px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-bottom: 80px;
}

.partners-item {
  opacity: 0.2;
}

.partners-item:hover,
.partners-item:focus {
  opacity: 1;
}

.partners-item:active {
  opacity: 0.1;
}

/*Footer*/

.footer-contacts {
  background-image: url(../img/map.png);
  height: 416px;
  margin-bottom: 75px;
}

.contacts-container {
  position: relative;
  top: 54px;
  bottom: 54px;
  left: 140px;
  width: 319px;
  background-color: var(--basic-white);
  height: 308px;
}

.padding-container {
  padding: 50px;
}

.footer-contacts h3 {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--basic-black);
}

.footer-contacts p,
.footer-contacts a {
  font-size: 16px;
  line-height: 18px;
  color: var(--footer-contacts)
}

.footer-contacts button {
  width: 219px;
  height: 50px;
}

.contact-phone {
  text-decoration: none;
  font-size: 16px;
  line-height: 18px;
  color: var(--footer-contacts)
}


/*Footer-promo*/

.footer-container {
  width: 960px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.visually-hidden {
  display: none;
}

.footer-list {
  list-style: none;
  display: flex;
}

.footer-item {
  margin-right: 9px;
  background-color: var(--social-button-grey);
  display: flex;
  width: 81px;
  height: 81px;
  border-radius: 50%;
  cursor: pointer;
}

.footer-item a {
  width: 81px;
  height: 81px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-item a:active {
  opacity: 0.3;
}


.footer-promo {
  display: flex;
  flex-direction: column;
}

.footer-item:hover,
.footer-item:focus {
  background-color:  var(--basic-salmon);
}

.footer-item:active {
  background-color: var(--active-red);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}


.promo-large {
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  color: var(--basic-black);
  margin: 0;
  padding-bottom: 10px;
}

.promo-small {
  font-size: 16px;
  line-height: 22px;
  color: var(--footer-promo);
  margin: 0;
}

/*Страница каталога*/

/*Left column: sorting, filters*/

.catalog-header {
  font-size: 55px;
  line-height: 55px;
  text-align: center;
  width: 960px;
  margin: 0 auto;
}

.shop-wrap {
  background-color: var(--background-grey);
  padding-bottom: 108px;
  margin-bottom: 55px;
}

.shop {
font-weight: 500;
font-size: 55px;
text-align: center;
width: 960px;
margin: 0 auto;
padding-top: 72px;
}

.page-catalog {
  display: grid;
  grid-template-columns: min-content 1fr;
  gap: 80px;
}

/*И вот тут я не поняла вообще ничего. В демке был какой-то хак про выравнивание. Примерно такой:
в фигме высота элемента есть, но добавляя бар на 2 пикселя шириной, и если мы хотим его выровнять
посередине, мы должны из высоты элемента вычесть 2 пикселя высоты бара и поделить на 2. Тадам:
элемент оказывается нихрена не посередине, потому что "Так как внутренние отступы учитываются
в размер объекта, уменьшим высоту объекта на размер верхнего внутреннего отступа." ШТА?!?!?
Ничего не поняла, что за скрытый бонус паддинга, но теперь вообще неясно, откуда мне
высоту элементов брать или как ее высчитывать, чтобы было правильно. Раз уж в Фигме все неправильно.
Пишу этот коммент тут потому что на странице каталога огромный элемент получается по высоте (шапка+заголовок)
и я не понимаю - это так надо или это я так скрытые бонусы от паддингов не пересчитала.*/


.filter-item legend {
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 700;
  padding: 0;
  margin: 0;
}

.filter-item {
  margin: 0;
  padding: 0;
  border: none;
}

.range fieldset {
 margin-bottom: 54px;
}

.range-filter {
  width: 260px;
  margin-top: 49px;
}

.range-controls {
  position: relative;
  height: 41px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  margin-bottom: 15px;
  background-color: var(--background-grey) ;
  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;
  background: var(--scale-grey) ;
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background: var(--basic-green);
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid var(--basic-white);
  background-color: var(--basic-grey);
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 var(--background-grey);
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  display: flex;
  justify-content: space-between;
}

.price-controls label {
  text-transform: uppercase;
  color: var(--special-black);
  font-size: 16px;
}

.price-controls input {
  width: 60px;
  padding: 10px;
  margin-left: 10px;
  text-align: center;
  color: var(--special-black);
  border: none;
  border-radius: 5px;
  background-color: var(--background-grey);
  font-family: inherit;
  font-size: inherit;
}

/*Radio-buttons*/

.filter {
  width: 260px;
}

.filter fieldset {
  padding: 0;
  margin: 0;
  margin-bottom: 43px;
  border: none;
}

.filter-header {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  color: var(--basic-black);
  margin-bottom: 14px;
}

.filter ul {
  line-height: 20px;
  padding: 0;
  margin: 0;
}

.filter li {
  margin-bottom: 19px;
  padding-left: 36px;
}

.filter-button {
  width: 260px;
  font-weight: 500;
  color: #000000;
  background-color: var(--background-grey);
}

.filter-button:hover,
.filter-button:focus {
  background-color: var(--hover-grey);
}

.filter-button:active {
  opacity: 0.3;
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
} /*Не понимаю, почему она себя так ведет. У нее состояние нажатия одинаково с нажатием у пагинации.
у пагинации все отлично выходит по макету, а тут херня. При идентичном коде.*/

.filter-radio-item label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}

.filter-radio-input + label::before {
  content: "";
  position: absolute;
  left: -36px;
  top: -4px;
  width: 17px;
  height: 17px;
  background-color: var(--basic-white);
  border: 4px solid var(--filter-input-grey);
  border-radius: 50%;
  opacity: 0.4;
}

.filter-radio-input:checked + label::after {
  content: "";
  position: absolute;
  left: -28px;
  top: 4px;
  width: 9px;
  height: 9px;
  background-color: var(--filter-input-grey);
  border-radius: 50%;
  opacity: 0.4;
}

label:hover::before,
label:focus::before {
  opacity: 1;
}

.filter-radio-input:checked + label:hover::after,
.filter-radio-input:checked + label:focus::after {
  opacity: 1;
}

/*Checkbox-buttons*/

.filter-checkbox-item label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}

.filter-checkbox-input + label::before {
  content: "";
  position: absolute;
  left: -36px;
  top: -4px;
  width: 25px;
  height: 23px;
  border: 2px solid var(--filter-input-grey);
  border-radius: 3px;
  opacity: 0.4;
}

/*Тут я потерялась. Эта галочка рассекает границу, я лично на ЦСС такое не реализую, значит,
предполагаю, что надо скачать картинку? как в демке? Скачала, но получается полная херня
хотя якобы картинка по размерам должна совпадать полностью с моими прямоугольниками. Ну,
так говорит Фигма. В общем так бодро вышло с радиокнопками и так никак - с чекбоксом.*/

.filter-checkbox-input:checked + label::before {
  content: "";
  position: absolute;
  left: -36;
  top: -4px;
  border: none;
  width: 25px;
  height: 23px;
  background-image: url(../img/checkbox-on.png);
  background-repeat: no-repeat;
  background-position: 0 0;
}

label:hover::before,
label:focus::before {
  opacity: 1;
}


/*Clients*/

h2 {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 700;
  padding: 0;
  margin: 0;
}

.page-catalog {
  width: 960px;
  margin: 0 auto;
  padding: 0;
}

.catalog-sorting-wrap {
  margin: 0 auto;
  margin-bottom: 56px;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.catalog-sorting {
  display: flex;
}

.catalog-sorting-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.catalog-sorting-item {
  margin-right: 25px;
  opacity: 0.3;
}

.catalog-sorting-item a {
  font-size: 14px;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--basic-black);
}

.catalog-sorting-item:hover,
.catalog-sorting-item:focus {
  opacity: 0.6;
}

.arrows-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.arrows-item {
  margin-left: 18px;
  opacity: 0.3;
}

.arrows-item:hover,
.arrows-item:focus {
  opacity: 0.6;
}
.rotate {
  transform: rotate(180deg);
}

/*Clients*/

/*Не понимаю, в чем проблема, у меня ни одно изменение не делается. Ни паддинг, ни видимый элемент
чтобы навести на картоску товара и надпись появилась - вообще ничего. Может дело в гриде? Не знаю,
уже все переделала, кроме разве что дисплей-грид. Но не должен же он так мертво влиять на элементы?*/

.clients-list {
  width: 960;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 41px;
  row-gap: 30px;
  margin-left: 0;
  margin-bottom: 55px;
  padding-left: 0;
}

.clients-info {
  display: none;
}

.clients-item {
  margin: 0;
  position: relative;
}

.clients-info .current {
  background-color: var(--background-grey);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.clients-header {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
}

.clients-text {
  font-size: 16px;
  line-height: 18px;
  color: var(--footer-contacts);
}

.clients-item a {
  padding-top: 40px;
  background-color: var(--filter-input-grey);
}

/*Pagination*/

.pagination-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-bottom: 60px;
  list-style: none;
}

.pagination-item a {
  display: block;
  padding: 15px 20px;
  background-color: var(--background-grey);
  color: var(--basic-black);
  border-radius: 3px;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
}

.pagination-item {
  margin-right: 11px;
}

.pagination-item a:hover,
.pagination-item a:focus {
background-color: var(--hover-grey);
border-radius: 3px;
} /*Не понимаю, почему при наведении элемент увеличивается вниз и граница перестает быть
скругленной.*/

.pagination-item a:active {
opacity: 0.3;
box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
border-radius: 3px;
} /*А тут не понимаю, почему активный элемент больше на неск пикселей вниз, чем неактивные*/

.pagination-item-current a {
  background-color: var(--basic-white);
  border: 3px solid var(--border-pagination-grey);
  border-radius: 3px;
  padding: 15px 20px;
}

.previous {
  width: 260px;
  display: none
}

.next {
  width: 260px;
  text-align: center;
}



.pagination-item:hover,
.pagination-item:focus {
  background-color: var(--hover-grey);
}

